$light-gold: #B8A054;

.paragraph {
  text-align: left;
  line-height: 1.5;
  padding: clamp(20px, 5vw, 40px);
  max-width: 980px;
  color: white;
  font-size: clamp(1.25rem, 2vw, 1.5rem);

  // No need for display: flex or wrapping tricks
}

.specialWord {
  color: $light-gold;
  font-weight: semi-bold;
}
