.container {
  width: 100svw;
  height: 100svh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-image: url('https://t4.ftcdn.net/jpg/02/15/94/83/360_F_215948377_kgIhNUy4X0iYsyUfYd9KKIViSPOxclbC.jpg');
  background-repeat: repeat;
  background-size: cover; */

  overflow: hidden;
}

.sun {
  width: 30em;
  height: 30em;
  background: radial-gradient(
    circle,
    rgba(255, 140, 0, 0.826) 55%,
    rgba(255, 85, 0, 0.623) 87%,
    rgba(255, 47, 0, 0.56) 97%
  );
  border-radius: 50%;
  box-shadow: 0 0 5em rgba(255, 140, 0, 0.807);
  position: relative;
  margin: 10vh 20rem 0 0;
}
/* 
.earth {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAFwAXAMBIgACEQEDEQH/...'); 
  animation: earth-orbit 15s linear infinite;
}

.earth::after {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  background-image: url('https://cdn.britannica.com/96/208796-050-47869FC7/full-moon.jpg');
  border-radius: 50%;
  background-size: cover;
  transform: translate(0, 5em);
  animation: moon-orbit 5s linear infinite;
}

@keyframes earth-orbit {
  from {
    transform: rotate(0deg) translateX(14.5em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(14.5em) rotate(-360deg);
  }
}

@keyframes moon-orbit {
  from {
    transform: rotate(0deg) translateX(5em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5em) rotate(-360deg);
  }
} */
