@import 'tailwindcss';

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
  --background: #060606;
  --foreground: #c8c8c8;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/regular.otf');
}

@font-face {
  font-family: 'Medium';
  src: url('/fonts/medium.otf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('/fonts/semibold.otf');
}

@font-face {
  font-family: 'Bold';
  src: url('/fonts/bold.otf');
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

@theme {
  --font-regular: 'Regular';
  --font-medium: 'Medium';
  --font-semibold: 'SemiBold';
  --font-bold: 'Bold';
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@layer components {
  #showcase {
    @apply relative;

    .media {
      @apply relative lg:overflow-hidden;

      video {
        @apply w-full object-cover object-center;
      }

      .mask {
        @apply absolute h-full top-0 lg:-top-20 xl:top-0;

        img {
          @apply h-full w-screen scale-120 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }

        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content {
      @apply relative z-10 my-5 lg:-mt-40 bg-black font-semibold text-xl text-dark-100 lg:opacity-0;

      .wrapper {
        @apply container mx-auto px-5 pb-20 2xl:px-0 flex flex-col lg:flex-row justify-center gap-20;
      }

      h2 {
        @apply font-semibold text-3xl lg:text-7xl text-white;
      }

      h3 {
        @apply font-semibold text-xl lg:text-5xl text-white;
      }
    }
  }

  #performance {
    @apply w-dvw h-full overflow-hidden pt-20 lg:pt-20 flex flex-col items-center relative;

    h2 {
      @apply font-semibold text-3xl lg:text-6xl text-white max-w-2xl text-center;
    }

    .wrapper {
      @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen relative;

      img {
        @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
      }

      .p1 {
        @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
      }

      .p2 {
        @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
      }

      .p3 {
        @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%] w-[320px];
      }

      .p4 {
        @apply absolute bottom-[15%] right-[10%] z-[1] max-sm:right-[30%] w-[220px];
      }

      .p5 {
        @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150 w-[280px] z-10;
      }

      .p6 {
        @apply absolute bottom-1/4 left-1/4 z-[2] max-sm:left-[35%] w-[320px];
      }

      .p7 {
        @apply absolute bottom-[5%] left-[15%] z-[3] max-sm:left-[35%] w-[320px];
      }
    }

    .content {
      @apply mx-auto max-w-xl mt-24;

      p {
        @apply lg:h3-semibold base-semibold text-center translate-y-10 opacity-0 px-5;
      }
    }
  }
}
