@import 'tailwindcss';

:root {
  --background: #060606;
  --foreground: #c8c8c8;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* .snap-start {
  scroll-snap-align: start;
} */


::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
