.canvas {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY-1920-80.jpg.webp');
  display: grid;
  place-items: center;
  overflow: hidden;
  background-position: left;
  background-repeat: repeat-y;
  animation: animation 40s linear infinite;
}

.moon {
  background-color: #808080;
  /* calc(200 * var(--px)) -> calc(200 * 120 * (1vmin / 665)) -> ~36.09022556vmin */
  height: calc(36.09022556vmin);
  width: calc(36.09022556vmin);
  border-radius: 50%;
  /* box-shadow: 0px 0px calc(70 * var(--px)) calc(5 * var(--px)) #fff;
     70*120/665 ≈ 12.63157895vmin (blur)
     5*120/665  ≈ 0.90225564vmin (spread) */
  box-shadow: 0px 0px calc(12.63157895vmin) calc(0.90225564vmin) #fff;
  background-image: url('https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/lroc_color_poles_1k.jpg');
  /* background-size: calc(430 * var(--px)) -> 430*120/665 ≈ 77.59398496vmin */
  background-size: calc(77.59398496vmin);
  background-position: left;
  background-repeat: no-repeat;
  animation: animation 20s linear infinite;
  position: relative;
  z-index: 2;
}

@keyframes animation {
  to {
    background-position: right;
  }
}
